<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTVw7hSuVKRd6d-G5H44msd-LV4TO00jw</string>
	<key>GCM_SENDER_ID</key>
	<string>271887994255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.kinana.savesway</string>
	<key>PROJECT_ID</key>
	<string>savesway-9ff10</string>
	<key>STORAGE_BUCKET</key>
	<string>savesway-9ff10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271887994255:ios:6c4db584f469445a218ffa</string>
</dict>
</plist>